.sidebarplus-content {
    -webkit-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out;
}

.sidebarplus-sidebar {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}